.comic .subContenedor .comicCardBody .comicCardDescription .sinopsis, .comic .subContenedor .comicCardBody .comicCardDescription .formato, .comic .subContenedor .comicCardBody .comicCardDescription .editorial, .comic .subContenedor .comicCardBody .comicCardDescription .comicCardLinks a, .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno p {
  font-size: 1.2rem; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: #202020;
  border-bottom: 1px solid #4a4a4a; }

.navbarContainer {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.menu-icons {
  color: #eee;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none; }

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem; }

.logo {
  width: 5rem;
  height: 5rem;
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 5rem; }

.nav-list {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0rem; }

.nav-list li {
  line-height: 8rem;
  position: relative; }

.nav-list > li {
  line-height: 8rem;
  position: relative;
  font-weight: 700; }

.sub-menu li {
  line-height: 4rem;
  font-weight: 300; }

.nav-list a {
  display: block;
  color: white;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 650ms; }

.nav-list a:hover {
  color: red; }

.sub-menu {
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 3px solid red;
  background-color: #373737;
  z-index: 100;
  top: 16rem;
  opacity: 0;
  visibility: hidden;
  transition: all 650ms ease; }

.sub-menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: red; }

.sub-menu .sub-menu::before {
  top: .9rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: red; }

.sub-menu .sub-menu {
  border-top: none;
  border-left: 3px solid red;
  top: 0;
  left: 160%; }

.nav-list li:hover > .sub-menu {
  top: 8rem;
  opacity: 1;
  visibility: visible; }

.sub-menu li:hover > .sub-menu {
  top: 0;
  left: 100%; }

@media screen and (max-width: 850px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: initial;
    background-color: grey;
    z-index: 1000; }
  .nav-list > li {
    line-height: 6rem; }
  .sub-menu {
    position: initial;
    border: 3px solid transparent;
    border-left-color: red;
    margin: left 1rem;
    max-height: 0; }
  .sub-menu::before {
    display: none; }
  .nav-list li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial; }
  .menu-icons {
    display: block; }
  .bi-x-lg {
    display: none; }
  nav.active .bi-x-lg {
    display: block; }
  nav.active .bi-list {
    display: none; }
  nav.active .nav-list {
    display: flex; }
  form {
    visibility: hidden; } }

form {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center; }
  form input {
    background-color: #202020;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #4a4a4a;
    font-size: 1.3rem;
    height: 40px;
    color: white; }
  form button {
    display: inline-block;
    background-color: #202020;
    color: white;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: 1px solid #4a4a4a;
    font-size: 1.3rem;
    font-weight: 700;
    height: 40px;
    display: flex;
    align-items: center; }
    form button:active {
      color: red;
      transition: 100ms; }
    form button:hover {
      background-color: #373737;
      transition: 300ms; }

.activo {
  text-decoration: 3px red underline; }

.carousel {
  width: 100%;
  padding: 10rem 0rem 0rem 0rem;
  border-bottom: 1px solid #4a4a4a;
  background-color: #282828; }
  .carousel ul {
    list-style: none outside none; }
    .carousel ul img {
      width: 200px;
      border-radius: 1rem;
      border: 2px solid #4a4a4a; }

.comic {
  padding: 1rem;
  margin: 3rem;
  background-color: #202020;
  border-radius: 5px;
  border: 1px solid #4a4a4a;
  width: fit-content;
  color: white; }
  .comic .subContenedor {
    display: flex;
    flex-direction: column; }
    .comic .subContenedor .comicTitle {
      text-align: center;
      margin: 1rem 0rem 2rem 0rem;
      font-weight: 700; }
    .comic .subContenedor .comicCardBody {
      display: flex;
      flex-flow: row wrap;
      gap: 1rem; }
      .comic .subContenedor .comicCardBody img {
        border-radius: 5px;
        max-width: 300px;
        border: 1px solid #4a4a4a; }
      .comic .subContenedor .comicCardBody .comicCardDescription .sinopsis {
        max-width: 30rem; }
      .comic .subContenedor .comicCardBody .comicCardDescription .comicCardLinks {
        text-align: center;
        margin: 2rem 0rem; }
        .comic .subContenedor .comicCardBody .comicCardDescription .comicCardLinks a {
          display: block;
          margin: 1rem 0rem; }
    .comic .subContenedor .redes {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      border-top: 1px solid #4a4a4a;
      padding-top: 1rem;
      margin-top: 1rem; }
      .comic .subContenedor .redes a {
        color: white; }
        .comic .subContenedor .redes a:hover {
          color: red;
          transition: ease 600ms; }
        .comic .subContenedor .redes a i {
          font-size: 2rem; }

.mainContainer {
  display: flex;
  justify-content: space-between; }
  .mainContainer .asideContainerLeft {
    color: white;
    padding: 2rem; }
    .mainContainer .asideContainerLeft h3 {
      padding: 1rem 0rem;
      font-size: 2rem; }
  .mainContainer .asideContainer {
    margin-top: 10rem; }
    .mainContainer .asideContainer .asideItem {
      background-color: #202020;
      width: 300px;
      height: 150px;
      margin: 3rem;
      padding: 2rem;
      border-radius: 1rem;
      border: 1px solid #4a4a4a;
      color: white; }
      .mainContainer .asideContainer .asideItem h3 {
        font-weight: 700; }

.sobreNosotros .sobreNosotrosPadre {
  color: white; }
  .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15rem; }
    .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos img {
      margin-bottom: 10rem; }
    .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno h1 {
      letter-spacing: 8px;
      font-size: 15px; }
    .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno h2 {
      font-size: 30px; }
    .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno p {
      margin: 0px;
      max-width: 500px; }
    .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno .h2NecesitasAyuda {
      font-size: 20px;
      margin-bottom: 1.3rem; }
    .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno a {
      border-radius: 10px;
      padding: 0.8rem 2.5rem;
      background-color: red;
      color: white;
      text-decoration: none;
      border: 1px solid #4a4a4a; }
      .sobreNosotros .sobreNosotrosPadre .contenedorSobreNos .sobreNosUno a:hover {
        background-color: #ff6e6e;
        transition: 600ms; }
  .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre {
    padding: 1.5rem 0rem 3rem 0rem;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    color: white;
    background-color: #202020; }
    .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .tituloSobreNosDos {
      text-align: center;
      padding-bottom: 1.5rem;
      letter-spacing: 3px;
      font-size: 30px; }
    .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos {
      display: flex;
      justify-content: space-evenly; }
      .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos {
        max-height: 300px;
        padding: 1rem 1.5rem;
        border-radius: 5px;
        background-color: #202020;
        border: 1px solid #4a4a4a; }
        .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos i {
          font-size: 2rem; }
        .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos h3 {
          font-size: 25px;
          font-weight: 700; }
        .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos p {
          max-width: 200px; }
        .sobreNosotros .sobreNosotrosPadre .sobreNosDosPadre .sobreNosDos .ofrecemos .lecturaDigital {
          max-width: 250px;
          margin: auto; }

.sobreNosotros .sobreNosotrosPadreDos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  padding: 10rem; }
  .sobreNosotros .sobreNosotrosPadreDos .redesSociales {
    padding: 3rem;
    background-color: #202020;
    border: 1px solid #4a4a4a; }
    .sobreNosotros .sobreNosotrosPadreDos .redesSociales .iconsRedes {
      text-align: center;
      font-size: 2.5rem;
      padding-top: 1rem; }
      .sobreNosotros .sobreNosotrosPadreDos .redesSociales .iconsRedes i {
        margin: 0rem 0.4rem;
        color: white;
        font-size: 3rem; }
        .sobreNosotros .sobreNosotrosPadreDos .redesSociales .iconsRedes i:hover {
          color: red;
          transition: 600ms; }
  .sobreNosotros .sobreNosotrosPadreDos .semiContacto {
    padding: 3rem;
    background-color: #202020;
    border-radius: 1rem;
    border: 1px solid #4a4a4a; }
    .sobreNosotros .sobreNosotrosPadreDos .semiContacto h3 {
      padding-bottom: 1.5rem;
      text-align: center; }
    .sobreNosotros .sobreNosotrosPadreDos .semiContacto p {
      max-width: 400px; }

.sobreNosotros .sobreNosotrosPadreTres {
  padding: 0rem 0rem 3rem 0rem;
  border-top: 1px solid #4a4a4a;
  color: white;
  margin-bottom: 5rem; }
  .sobreNosotros .sobreNosotrosPadreTres .preguntasFrecuentes h3 {
    padding: 3rem;
    font-size: 30px;
    letter-spacing: 4px; }
  .sobreNosotros .sobreNosotrosPadreTres .preguntasFrecuentes div {
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    padding: 1rem;
    background-color: #202020; }

footer {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-top: 1rem;
  padding: 3rem;
  color: white;
  background-color: #202020;
  border-top: 1px solid #4a4a4a; }
  footer .contenedorLogo {
    margin-left: 3rem; }
    footer .contenedorLogo a {
      font-size: 3rem;
      text-decoration: none;
      color: white; }
      footer .contenedorLogo a:hover {
        color: white; }
  footer h4 {
    padding-bottom: 1rem;
    font-size: 2rem; }
  footer .copy {
    font-size: 12px; }
  footer .sobreNosDiv {
    padding: 1rem;
    margin-bottom: 3rem; }
    footer .sobreNosDiv p {
      max-width: 250px;
      font-size: 1.2rem; }
  footer .contactDiv {
    padding: 1rem; }
    footer .contactDiv .contactInfo {
      display: block;
      font-size: 1.2rem; }
  footer .redesDiv {
    padding: 1rem; }
    footer .redesDiv .linkRedes {
      text-decoration: none;
      display: block;
      font-size: 1.2rem;
      padding-bottom: 1rem;
      color: white; }
      footer .redesDiv .linkRedes:hover i {
        color: red;
        transition: 600ms; }
      footer .redesDiv .linkRedes i {
        font-size: 1.5rem; }

.mainContainerComicPersonaje {
  margin-top: 10rem; }

.comicsRelacionados {
  padding: 3rem 0rem;
  border-top: 1px solid #4a4a4a;
  color: white; }
  .comicsRelacionados h3, .comicsRelacionados h2 {
    text-align: center;
    letter-spacing: 5px;
    padding-bottom: 2rem;
    font-size: 2.4rem; }
  .comicsRelacionados .comicsRelacionadosImg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    place-items: center;
    padding: 0rem 15rem 3rem 15rem;
    gap: 3rem; }
    .comicsRelacionados .comicsRelacionadosImg img {
      border-radius: 0.25rem;
      border: 1px solid #4a4a4a; }
      .comicsRelacionados .comicsRelacionadosImg img:hover {
        transform: scale(102%);
        transition: 0.3s; }

.instruccionesContainer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  color: white;
  margin-top: 10rem; }
  .instruccionesContainer .instruccionesUno {
    padding: 2rem;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    height: fit-content;
    background-color: #202020; }
    .instruccionesContainer .instruccionesUno h1 {
      text-align: center;
      letter-spacing: 5px;
      padding-bottom: 2rem;
      font-size: 30px; }
    .instruccionesContainer .instruccionesUno ol {
      margin: 2rem; }
      .instruccionesContainer .instruccionesUno ol li {
        max-width: 600px;
        font-size: 1.2rem; }
    .instruccionesContainer .instruccionesUno h2 {
      font-size: 20px;
      padding-left: 2rem; }
    .instruccionesContainer .instruccionesUno .iframeVid {
      border-radius: 10px;
      border: 1px solid #4a4a4a;
      margin: 0rem 0rem 1rem 0rem; }
    .instruccionesContainer .instruccionesUno .iconsRedesInstrucciones {
      display: flex;
      justify-content: space-evenly; }
      .instruccionesContainer .instruccionesUno .iconsRedesInstrucciones i {
        font-size: 2rem;
        color: white; }
        .instruccionesContainer .instruccionesUno .iconsRedesInstrucciones i:hover {
          transition: 600ms;
          color: red; }
  .instruccionesContainer .instruccionesDos {
    padding: 2rem;
    margin-top: 5rem; }
    .instruccionesContainer .instruccionesDos h3 {
      letter-spacing: 5px;
      font-size: 20px; }

.containerContacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  padding: 3rem 0rem;
  border-top: 1px solid #4a4a4a; }
  .containerContacto iframe {
    border: 3rem solid #4a4a4a;
    border-radius: 1rem; }
  .containerContacto form {
    display: initial;
    color: white;
    background-color: #202020;
    padding: 3rem 3rem 2rem 3rem;
    border: 1px solid #4a4a4a;
    border-radius: 1rem; }
    .containerContacto form input {
      border-radius: 1rem; }
    .containerContacto form .btn {
      background-color: red;
      border-radius: 1rem;
      border: 1px solid #4a4a4a; }
      .containerContacto form .btn:hover {
        background-color: #ff5858;
        transition: ease 300ms; }

.imgContainer {
  max-width: 200px;
  max-height: 308px;
  overflow: hidden;
  position: relative;
  margin: 0rem 1rem 1rem 0rem;
  border-radius: 5px;
  border: 1px solid #4a4a4a; }
  .imgContainer:hover img {
    transform: scale(1.1);
    transition: ease 500ms; }
  .imgContainer:hover .leerMasDiv {
    opacity: 1;
    visibility: visible;
    transition: 800ms; }
  .imgContainer:hover .descriptionContainer {
    background-color: rgba(0, 0, 0, 0.487);
    transition: ease 500ms; }
  .imgContainer:hover .description {
    transform: translateY(-101%);
    transition: all 500ms ease-out; }
  .imgContainer .descriptionContainer {
    position: absolute;
    top: 55%;
    width: 198px;
    height: 136px; }
  .imgContainer .description {
    color: white; }
    .imgContainer .description h3 {
      font-size: 1.5rem;
      text-align: center;
      padding: 0.5rem 0rem 0rem 0rem; }
    .imgContainer .description p {
      font-size: 0.8rem;
      margin: 0rem 0.5rem 0.5rem 0.5rem; }
    .imgContainer .description .btnLeerMas {
      font-size: 1.2rem;
      padding: 0.8rem 0rem;
      border-radius: 5px;
      background-color: red;
      text-align: center;
      margin: 0rem; }
      .imgContainer .description .btnLeerMas:hover {
        background-color: #ff4242; }

.personajesGridContainer {
  margin-top: 10rem; }
  .personajesGridContainer .personajesContainer .personajesTitulo {
    color: white;
    padding: 3rem;
    text-align: center; }
  .personajesGridContainer .personajesContainer .personajesSubContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem; }
    .personajesGridContainer .personajesContainer .personajesSubContainer .personajesCardContainer .cardPersonaje {
      width: fit-content;
      background-color: #202020;
      border: 1px solid #4a4a4a;
      border-radius: 0.5rem;
      color: white; }
      .personajesGridContainer .personajesContainer .personajesSubContainer .personajesCardContainer .cardPersonaje .cardPersonajeDescripcion {
        padding: 1rem;
        text-align: center; }
        .personajesGridContainer .personajesContainer .personajesSubContainer .personajesCardContainer .cardPersonaje .cardPersonajeDescripcion h3 {
          text-align: center; }
        .personajesGridContainer .personajesContainer .personajesSubContainer .personajesCardContainer .cardPersonaje .cardPersonajeDescripcion p {
          text-align: start;
          max-width: 150px;
          margin: auto; }

.tituloEditoriales {
  color: white;
  text-align: center;
  margin-top: 1rem; }

.editorialesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem; }
  .editorialesContainer .editorialesCardContainer {
    color: white;
    background-color: #202020;
    border-radius: 5px;
    border: 1px solid #4a4a4a; }
    .editorialesContainer .editorialesCardContainer .editorialCard {
      padding: 1rem;
      text-align: center; }
      .editorialesContainer .editorialesCardContainer .editorialCard .editorialesTitle {
        padding-top: 1rem; }
      .editorialesContainer .editorialesCardContainer .editorialCard .editorialesDescription {
        max-width: 172px; }

.editorialComicsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap; }

body {
  background-color: #181818; }
