.mainContainerComicPersonaje {
    margin-top: 10rem;
    .asideContainerComicLeft {
        margin-top: 6rem;
    }
    .asideContainerComicRight {
        margin-top: 6rem;
    }
}

.personajeComicContainer {
    margin-top: 10rem;
}

.asideContainerComicsRight {
    margin-top: 20rem;
}

.asideContainerComicsLeft {
    margin-top: 20rem;
}

.comicsRelacionados {
    padding: 3rem 0rem;
    border-top: $border;
    color: white;

    h3, h2 {
        text-align: center;
        letter-spacing: 5px;
        padding-bottom: 2rem;
        font-size: 2.4rem;
    }
}