@media screen and (max-width:910px) {

    .containerContacto {
        form {
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width:1305px) {
    .asideContainerIndex {
        display: none;
    }
    .asideContainerLeftIndex {
        display: none;
    }
    .mainContainerIndex {
        place-items: center;
    }
    .comic {
        max-width: 320px;
    }
}

//@media screen and (max-width:693px) {
//    .comic {
//        max-width: 320px;
//    }
//}

@media screen and (max-width:500px) {
    .mapContainer {
        iframe {
            width: 350px;
            height: 300px;
        }
    }
    footer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:1090px) {
    .asideContainer {
        display: none;
    }

    .asideContainerLeft {
        display: none;
    }

    .personajesContainer {
        place-items: center;
    }
}

@media screen and (max-width:850px) {
    footer {
        grid-template-columns: repeat(2, 1fr) !important;
        .contenedorLogo {
            margin: 0rem;
        }
    }
}

@media screen and (max-width:530px) {   
    footer {
        .contactDiv {
            display: none;
        }

        .redesDiv {
            display: none;
        }
    }
}