$color-negro-uno: #202020;
$color-negro-dos: #282828;
$color-gris-uno: #373737;
$color-gris-border: #4a4a4a;
$color-hover-a: #4f4f4f;
$color-negro-bg: #181818;
$color-underline: red;
$color-submenu-border: red;
$color-submenu-bg: grey;