.mainContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    .asideContainer {
        margin: 3rem;
        img {
            width: 100%;
            border-radius: 5px;
            border: 1px solid $color-gris-border;
            margin: 1rem;
        }
    }
}