.contenedorCarousel {
    padding-top: 10rem;
    width: 100vw;
.carousel{
    width: 100%;
    border-bottom: 1px solid $color-gris-border;
    background-color: $color-negro-dos;
    ul{
        list-style: none outside none;
        img {
            width: 200px;
            border-radius: 1rem;
            border: 2px solid $color-gris-border;
        }
    }
}
}
