.carousel{
    width: 100%;
    padding: 10rem 0rem 0rem 0rem;
    border-bottom: 1px solid $color-gris-border;
    background-color: $color-negro-dos;
    ul{
        list-style: none outside none;
        img {
            width: 200px;
            border-radius: 1rem;
            border: 2px solid $color-gris-border;
        }
    }
}

